[submodule "secp256k1"]
	path = secp256k1
	url = https://github.com/bitcoin-core/secp256k1.git
[submodule "rocksdb"]
	path = rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "ethash"]
	path = ethash
	url = https://github.com/ciri-ethereum/ethash.git
	branch = shared_library
[submodule "fixtures"]
	path = fixtures
	url = https://github.com/ethereum/tests.git
	branch = develop
